/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 75px;
    padding-bottom: 20px;
}
.navbar-inverse{
    background: #fff !important;
    border: solid 1px silver !important;
}

.bgImage{
    background: url("../images/bg.jpg") center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.tlcloginLogo{
    background-image: url("../images/logo.png");
        background-repeat: no-repeat;
   background-size: contain;
   padding: 10% 0 !important;
}
.navbar-brand{
    background-image: url("../images/logo.png");
        background-repeat: no-repeat;
        min-width: 160px;
        padding: 0 !important;
        background-size: contain;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width:280px;

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.label {
    display: inline-block;
    margin: 1px;
}

.page-alert{
    position:fixed;
    bottom:0;
    left: 0;
    width:100%;
    display:none;
}
.page-alert-inner{
    padding:5px;
}
.glyphicon.spinning{
    animation: spin 1s infinite linear;
    -webkit-animation : spin2 1s infinite linear;
}
@keyframes spin{
    from { transform: scale(1) rotate(0deg);}
    to {transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spin2{
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
.mySuccessMessage{
    position: absolute; 
    top: 70px; 
    right: 50%;
    min-width: 500px;
    display:none;
    margin-right: -250px;
    }



/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media all and (max-width: 479px) {
    th.col-mobile, td.col-mobile{
        display:none !important; 
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
    .navbar-collapse{
        background-color: #333 !important;
    }
    .dropdown-menu-right {
        left: unset;
        right: 0;
    }
}