<connectionStrings>
  <clear />
  <add name="DataDb" connectionString="Data Source=lifechurch.database.windows.net,1433;Initial Catalog=TLC;User ID=tlcadmin;Password=Tttbhzn2017;Connect Timeout=30;Encrypt=True"
    providerName="System.Data.SqlClient" />
  <add name="TLCConnectionString" connectionString="Data Source=lifechurch.database.windows.net;Initial Catalog=TLC;User ID=tlcadmin;Password=Tttbhzn2017"
    providerName="System.Data.SqlClient" />
</connectionStrings>